footer {    
    background-color: lighten($color-black, 10%);
    .content {
        padding: $p-l;
        @include flex-col;
    }
    h2 {
        font-family: $heading-font;
        color: $color-white;
    }
    a {
        color: $color-white;        
        line-height: 1.6;
        &:hover {
            text-decoration: underline;
        } 
    }
    .illus-link {
        @include flex-row($p-s, flex-start);
    }
}

/* Uniquement sur grand écran */

@media screen and (min-width: 768px) {
    .footer-nav {
        @include flex-row (20px, flex-start, wrap)
    }
}