.header {
    @include flex-col;
    > * {
        width: 100%;
    }
    &__logo {
        padding: $p-m 0;
        box-shadow: 0px 4px 4px lighten($color-black, 60%);
        z-index: 1;
        @include text-center;
        .logo {            
            min-width: 200px;
        }
    }
    &__location {
        background-color: darken($color-white, 10%);
        padding: $p-m 0;        
        @include flex-row($p-s);
    }   
}