@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@keyframes fade {
  0% {
    opacity: 1;
    z-index: 10; }
  80% {
    opacity: 1; }
  99% {
    z-index: 10; }
  100% {
    opacity: 0;
    display: none; } }
@keyframes load {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes fade-up {
  to {
    transform: translateY(0);
    opacity: 1; } }
* {
  transition: 0.3s; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

img {
  max-width: 100%; }

.icon {
  font-size: 16px; }

li {
  list-style: none; }

.container .content {
  padding: 64px 32px; }

h2 {
  padding-bottom: 32px; }

body {
  font-family: 'Roboto', sans-serif;
  color: #1a1a1a;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2; }

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 32px; }

a {
  color: #1a1a1a;
  text-decoration: unset; }

.btn-wrapper {
  padding: 16px 32px; }

.btn {
  padding: 16px 32px;
  border-radius: 25px;
  color: #fff; }
  .btn-primary {
    background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
    box-shadow: 2px 7px 19px 1px #b3b3b3; }
    .btn-primary:hover {
      background: linear-gradient(0deg, #a16be0 0%, #ff93e1 100%);
      box-shadow: 2px 7px 19px 1px gray; }

.container-loader {
  position: fixed;
  z-index: -10;
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  animation: fade 4s 1 ease-in;
  animation-fill-mode: forwards; }
  .container-loader .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; }

.loader {
  border: 16px solid #e4d5f6;
  border-top: 16px solid #9356DC;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  margin: auto;
  transition: transform 250ms cubic-bezier(0.32, 0, 0.07, 1);
  animation: load 2s linear infinite; }

.header__logo {
  padding: 16px 0;
  box-shadow: 0px 4px 4px #b3b3b3;
  z-index: 1;
  text-align: center; }
  .header__logo .logo {
    min-width: 200px; }
.header__location {
  background-color: #e6e6e6;
  padding: 16px 0;
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start; }

/* Uniquement sur Tablettes */
@media screen and (min-width: 992px) {
  .container .content {
    max-width: 1400px;
    margin: auto; } }
footer {
  background-color: #343434; }
  footer .content {
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start; }
  footer h2 {
    font-family: "Shrikhand", cursive;
    color: #fff; }
  footer a {
    color: #fff;
    line-height: 1.6; }
    footer a:hover {
      text-decoration: underline; }
  footer .illus-link {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start; }

/* Uniquement sur grand écran */
@media screen and (min-width: 768px) {
  .footer-nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start; } }
#home-page .header {
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start; }
  #home-page .header > * {
    width: 100%; }
#home-page section:nth-child(odd) {
  background-color: whitesmoke; }
#home-page .hero {
  text-align: center; }
  #home-page .hero .content {
    display: flex;
    flex-direction: column;
    gap: 30px; }
  #home-page .hero .btn {
    margin: auto; }

.fonctionnement__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center; }
  .fonctionnement__list .item {
    position: relative;
    width: 100%;
    max-width: 230px;
    font-weight: 700;
    padding: 20px 8vw;
    background-color: whitesmoke;
    box-shadow: 1px 6px 13px 0px #f3f3f3;
    border-radius: 16px; }
    .fonctionnement__list .item a {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%; }
    .fonctionnement__list .item i {
      font-size: 18px;
      color: #9a9a9a;
      padding-right: 4vw; }
    .fonctionnement__list .item::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 25px;
      height: 25px;
      font-size: 12px;
      font-weight: 400;
      line-height: 25px;
      color: #fff;
      text-align: center;
      border-radius: 32px;
      background-color: #9356DC;
      transform: translateX(-60%) translateY(70%); }
    .fonctionnement__list .item:nth-child(1)::before {
      content: '1'; }
    .fonctionnement__list .item:nth-child(2)::before {
      content: '2'; }
    .fonctionnement__list .item:nth-child(3)::before {
      content: '3'; }
    .fonctionnement__list .item:hover {
      background-color: #f2eafb; }
      .fonctionnement__list .item:hover i {
        color: #9356DC; }

.restaurants__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start; }
  .restaurants__list .item {
    position: relative;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 2px 2px 18px 5px #e6e6e6; }
    .restaurants__list .item a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1; }
    .restaurants__list .item .illus {
      aspect-ratio: 4/3;
      object-fit: cover;
      border-radius: 16px 16px 0 0; }
    .restaurants__list .item .tag {
      position: absolute;
      top: 16px;
      right: 16px;
      font-size: 14px;
      font-weight: 500;
      padding: 8px;
      color: #2fa487;
      background-color: #99E2D0;
      border-radius: 3px; }
    .restaurants__list .item .item__info {
      position: relative;
      padding: 16px; }
      .restaurants__list .item .item__info__favorite {
        position: absolute;
        bottom: 2.5rem;
        right: 1.5rem;
        font-size: 1.5em;
        z-index: 2;
        transform: translateY(50%);
        cursor: pointer; }
        .restaurants__list .item .item__info__favorite .heart-away {
          display: block;
          transform: scale(1);
          transition: all 0.5s; }
        .restaurants__list .item .item__info__favorite .heart-hover {
          display: block;
          position: absolute;
          top: 0;
          transform: scale(0);
          transition: all 0.5s;
          background-color: black;
          background-image: linear-gradient(0deg, #FF79DA, #9356DC);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          -moz-background-clip: text;
          -moz-text-fill-color: transparent; }
      .restaurants__list .item .item__info__favorite:hover .heart-away {
        opacity: 0;
        transform: scale(0); }
      .restaurants__list .item .item__info__favorite:hover .heart-hover {
        opacity: 1;
        transform: scale(1); }

@media screen and (min-width: 768px) {
  .fonctionnement__list .item {
    padding: 20px 35px;
    max-width: 300px; }
    .fonctionnement__list .item i {
      font-size: 24px;
      padding-right: 24px; }

  .restaurants__list .item {
    width: calc(50% - 30px/2); } }
/* Uniquement sur grand écran */
@media screen and (min-width: 992px) {
  .fonctionnement__list .item:last-child {
    margin-bottom: 32px; }

  .restaurants__list {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start; }
    .restaurants__list .item {
      width: calc(25% - 90px/4); } }
#page-restaurant-single .content {
  padding: 32px 16px 8px; }
#page-restaurant-single .header__top {
  padding: 0 16px;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center; }
#page-restaurant-single .header__back-home i {
  font-size: 22px; }
#page-restaurant-single .header__logo {
  box-shadow: none;
  width: calc(100% - 20px); }
#page-restaurant-single .header__banner img {
  width: 100%;
  height: 300px;
  object-fit: cover; }
#page-restaurant-single main {
  position: relative;
  top: -50px;
  border-radius: 30px 30px 0 0;
  background-color: #fafafa; }
#page-restaurant-single .hero .content {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: flex-start; }
#page-restaurant-single .hero__favorite {
  position: absolute;
  bottom: 2.5rem;
  right: 1.5rem;
  font-size: 1.5em;
  transform: translateY(50%);
  cursor: pointer; }
  #page-restaurant-single .hero__favorite .heart-away {
    display: block;
    transform: scale(1);
    transition: all 0.5s; }
  #page-restaurant-single .hero__favorite .heart-hover {
    display: block;
    position: absolute;
    top: 0;
    transform: scale(0);
    transition: all 0.5s;
    background-color: black;
    background-image: linear-gradient(0deg, #FF79DA, #9356DC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent; }
#page-restaurant-single .hero__favorite:hover .heart-away {
  opacity: 0;
  transform: scale(0); }
#page-restaurant-single .hero__favorite:hover .heart-hover {
  opacity: 1;
  transform: scale(1); }
#page-restaurant-single .plats h2 {
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 4px;
  text-transform: uppercase; }
#page-restaurant-single .plats hr {
  height: 3px;
  width: 50px;
  margin-right: auto;
  margin-bottom: 16px;
  background-color: #99E2D0;
  border: unset; }
#page-restaurant-single .plats__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start; }
#page-restaurant-single .plats .item {
  height: 60px;
  width: 100%;
  transform: translateY(18px);
  opacity: 0;
  border-radius: 15px;
  box-shadow: 2px 2px 18px 5px #e6e6e6;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center; }
  #page-restaurant-single .plats .item__left {
    width: 100%;
    padding: 8px 16px; }
    #page-restaurant-single .plats .item__left h3, #page-restaurant-single .plats .item__left .item__info p:first-child {
      width: fit-content;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      transition: width 0.6s cubic-bezier(0.32, 0, 0.07, 1); }
  #page-restaurant-single .plats .item__info {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start; }
    #page-restaurant-single .plats .item__info .price {
      font-weight: 600; }
  #page-restaurant-single .plats .item__check {
    height: 100%;
    width: 0;
    text-align: center;
    background-color: #99E2D0;
    border-radius: 0 15px 15px 0;
    transition: width 0.6s cubic-bezier(0.32, 0, 0.07, 1); }
    #page-restaurant-single .plats .item__check i {
      font-size: 18px;
      line-height: 60px;
      color: #fff;
      transform: rotate(90deg);
      transition: transform 300ms ease-in-out; }
  #page-restaurant-single .plats .item:hover .item__left h3, #page-restaurant-single .plats .item:hover .item__left .item__info p:first-child {
    max-width: 90%;
    transition: width 0.6s cubic-bezier(0.32, 0, 0.07, 1); }
  #page-restaurant-single .plats .item:hover .item__check {
    width: 60px;
    transform-origin: right;
    transition: width 0.4s cubic-bezier(0.32, 0, 0.07, 1); }
    #page-restaurant-single .plats .item:hover .item__check i {
      transform: rotate(360deg);
      transition: transform 400ms ease-in-out; }
  #page-restaurant-single .plats .item:first-child {
    animation: fade-up 0.6s ease-out;
    animation-fill-mode: forwards;
    animation-delay: 0.2s; }
  #page-restaurant-single .plats .item:nth-child(2) {
    animation: fade-up 0.6s ease-out;
    animation-fill-mode: forwards;
    animation-delay: 0.4s; }
  #page-restaurant-single .plats .item:nth-child(3) {
    animation: fade-up 0.6s ease-out;
    animation-fill-mode: forwards;
    animation-delay: 0.6s; }
  #page-restaurant-single .plats .item:nth-child(4) {
    animation: fade-up 0.6s ease-out;
    animation-fill-mode: forwards;
    animation-delay: 0.8s; }
  #page-restaurant-single .plats .item:nth-child(5) {
    animation: fade-up 0.6s ease-out;
    animation-fill-mode: forwards;
    animation-delay: 1s; }
#page-restaurant-single .commander .content {
  display: flex;
  flex-direction: column;
  padding-bottom: 32px; }
  #page-restaurant-single .commander .content .btn {
    margin: auto; }
#page-restaurant-single footer {
  margin-top: -50px; }

@media screen and (min-width: 768px) {
  #page-restaurant-single .plats__list {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap; }
    #page-restaurant-single .plats__list .item {
      max-width: calc(50% - 15px); } }
@media screen and (min-width: 992px) {
  #page-restaurant-single .plats__list .item {
    max-width: calc(33% - 15px*2); } }

/*# sourceMappingURL=style.css.map */
