body {
    font-family: 'Roboto', sans-serif;
    color: $color-black;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
}
h1 {
    font-family: $heading-font;
    font-size: 32px;
}
a {
    color: $color-black;
    text-decoration: unset;
}