#page-restaurant-single {
    .content {
        padding: $p-l $p-m $p-s;
    }
    .header {        
        &__top {
            padding: 0 $p-m;
            @include flex-row(0, space-between, nowrap, center);
        } 
        &__back-home i {
            font-size: 22px;
        }           
        &__logo {
            box-shadow: none;
            width: calc(100% - 20px);
        }
        &__banner img {
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
    }
    main {
        position: relative;
        top: -50px;
        border-radius: 30px 30px 0 0;
        background-color: darken($color-white, 2%);;
    }
    .hero {
        .content {
            position: relative;
            @include flex-row(0, space-between, nowrap);
        }
        &__favorite {
            position: absolute;
            bottom: 2.5rem;
            right: 1.5rem;
            font-size: 1.5em;
            cursor: pointer;

                & .heart-away {
                    display: block;
                    transform: scale(1);
                    transition: all 0.5s;
                }
            
                & .heart-hover {
                    display: block;
                    position: absolute;
                    top: 0;
                    transform: scale(0);
                    transition: all 0.5s;
                    background-color: black;
                    background-image: linear-gradient(0deg, $color-secondary, $color-primary);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    -moz-background-clip: text;
                    -moz-text-fill-color: transparent;
                }
            }
            
        &__favorite:hover{
            & .heart-away {
                opacity: 0;
                transform: scale(0);
        
            }
        
            & .heart-hover {
                opacity: 1;
                transform: scale(1);
            }
        }
    
    }
    .plats {
        h2 {
            font-size: 20px;
            font-weight: 400;
            padding-bottom: 4px;
            text-transform: uppercase;
        }     
        hr {
            height: 3px;                
            width: 50px;
            margin-right: auto;
            margin-bottom: $p-m;
            background-color: $color-tertiary;
            border: unset;
        }
        &__list {
            @include flex-col(15px)
        }
        .item {       
            height: 60px;
            width: 100%;
            transform: translateY(18px);
            opacity: 0;
            border-radius: 15px;
            box-shadow: 2px 2px 18px 5px lighten($color-black, 80%);         
            overflow: hidden;
            @include flex-row(0, space-between, nowrap, center);
            &__left {
                width: 100%;                
                padding: $p-s $p-m;
                h3, .item__info p:first-child {
                    width: fit-content;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;                    
                    transition: width 0.6s cubic-bezier(.32,0,.07,1);
                } 
            }
            &__info {                
                font-size: 14px;
                @include flex-row(0, space-between);
                .price {
                    font-weight: 600;
                }
            }
            &__check {
                height: 100%;
                width: 0;
                text-align: center;
                background-color: $color-tertiary;
                border-radius: 0 15px 15px 0;                
                transition: width 0.6s cubic-bezier(.32,0,.07,1);
                i {
                    font-size: 18px;
                    line-height: 60px;
                    color: $color-white;
                    transform: rotate(90deg);
                    transition: transform 300ms ease-in-out;
                }
            }
            &:hover {
                .item__left {
                    h3, .item__info p:first-child {
                        max-width: 90%;                
                        transition: width 0.6s cubic-bezier(.32,0,.07,1);
                    } 
                }
                .item__check {                
                    width: 60px;
                    transform-origin: right;                
                    transition: width 0.4s cubic-bezier(.32,0,.07,1);
                    i {
                        transform: rotate(360deg);
                        transition: transform 400ms ease-in-out;
                    }
                }
            }
            &:first-child {
                @include loading-fade-up(.2s);
            }    
            &:nth-child(2) {
                @include loading-fade-up(.4s);  
            }    
            &:nth-child(3) {
                @include loading-fade-up(.6s);  
            }    
            &:nth-child(4) {
                @include loading-fade-up(.8s);  
            }    
            &:nth-child(5) {
                @include loading-fade-up(1s);  
            }  
        }
    }
    .commander {
        .content {
            display: flex;
            flex-direction: column;
            padding-bottom: $p-l;
            .btn {
                margin: auto;
            }
        }
    }
    footer {
        margin-top: -50px;
    }
}

@media screen and (min-width: 768px) {
    #page-restaurant-single {
        .plats__list {
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
            .item {
                max-width: calc(50% - 15px);
            }
        }
    }
}

@media screen and (min-width: 992px) {
    #page-restaurant-single {
        .plats__list {
            .item {
                max-width: calc(33% - 15px*2);
            }
        }
    }
}