$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiay: #99E2D0;
$color-white: #fff;
$color-black: #1a1a1a;

$p-s : 8px;
$p-m : 16px;
$p-l : 32px;
$p-xl : 64px;

$heading-font: 'Shrikhand', cursive;
$layout-margin: 6rem;
$grid-gutter: $layout-margin * .25;